body{
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
}
.dec{
    margin-top: -8px;
    margin-left: -7px;
    margin-right: -6px;
    background-color:rgb(17, 52, 117);
    color:white;
    text-align: center;
    height:60px;
    }
    .dec h{
      color: white;
      font-size: 20px;
      font-family: bold;
    }
    .responsive {
      max-width: 100%;
      height: auto;
    }
    
    .column {
      float: left;
      width: 30%;
     
      padding: 0 20px;
    }
    
    .row 
    {
      
      margin-top: 50px;
      margin-left: auto;
    }

    .row:after {
      content: "";
      margin: auto;
      display: table;
      clear: both;
    }
    .ram
    {
      margin-top: 50px;
      margin-left: auto;
    }
    .ram:after {
      content: "";
      margin: auto;
      display: table;
      clear: both;
    }
    @media screen and (max-width: 500px) {
      .column {
        width: 90%;
        display: block;
       margin-bottom: 40px;
      }
    }
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      text-align: center;
      background-color: #f1f1f1;
    }
    input[type="submit"]
    {
        border: none;
        outline: none;
        resize: vertical;
        border-radius: 4px;
        cursor: pointer;
        background-color: rgb(35, 201, 35);
        color:white;
        width: 200px;
        height: 40px;
   
    }
    input[type="submit"]:hover
    {
        background-color: rgb(8, 58, 151);
        color: white;
    }
  
    .con{
      
      border-radius: 5px;
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
      margin-top: -400px;
      text-align: center;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: auto;
      height: auto;
  }
  p{
      color:rgb(48, 53, 61);
      font-size: 40px;
      flood-color: cornflowerblue;
      position: relative;
      font-style: bold;
      
  }
  input[type="text"]
  {
      border: none;
      outline: none;
      resize: vertical;
      border-bottom: 2px solid gray;
      border-color: rgb(55, 89, 153);
  }
  input[type="email"]
  {
      
      outline: none;
      border: none;
      resize: vertical;
      border-bottom: 2px solid gray;
      border-color: rgb(55, 89, 153);
  }
  input[type="number"]
  {
      border: none;
      outline: none;
    
      resize: vertical;
      border-bottom: 2px solid gray;
      border-color: rgb(55, 89, 153);
  }
  input[type="date"]
  {
      border: none;
      outline: none;
      resize: vertical;
      border-bottom: 2px solid gray;
      border-color: rgb(55, 89, 153); 
  }
  
 
  label{
      color:  rgb(55, 89, 153);
      font-family: bold;
      position: relative;
      cursor: pointer;

  }
  
  .form{
    display: none;
    width: auto;
    height: auto;
    text-align: center;
    margin-top: -20px;
    margin-left: 500px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: absolute;
  }
  
  @media screen and (max-width: 600px) {
      .dec,.btn,.btncancel,body,p,label,input[type="submit"]{
        width: 100%;
        margin-top: 0;
      }
    }
    @media screen and (max-width: 600px) {
      .con,.form{
        width: 100%;
        margin-top: 0;
        margin-left: auto;
      }
    }
  l{
    margin:auto;
    color:rgb(48, 53, 61);
    font-size: 40px;
    flood-color: cornflowerblue;
    position: relative;
    font-style: bold;

  }
  
.btn{
  background-color: rgb(29, 207, 207);
  border: none;
  outline: none;
  resize: vertical;
  border-radius: 4px;
  cursor: pointer;
  color:white;
  width: 200px;
  height: 40px;
}
.btncancel
{
  background-color: rgb(185, 32, 32);
  border: none;
  outline: none;
  resize: vertical;
  border-radius: 4px;
  cursor: pointer;
  color:white;
  width: 200px;
  height: 40px;
}

.btncancel:hover{
 background-color: rgb(105, 105, 219);
 color:white;
}
.btn:hover{
  background-color: rgb(105, 105, 219);
  color:white;
 }
 .foot{
  margin-top: -7px;
  margin-left: -7px;
  margin-right: -6px;
  margin-bottom: -7px;
  text-align: center;
  height: 100px;
  color: #f1f1f1;
  background-color: rgb(17, 17, 29);
 }
  f{
  margin:auto;
 }
 @media screen and (max-width: 600px) {
  .foot{
    width: 100%;
    margin-top: 0;
    margin-left: auto;
  }
}

.magic
{
  margin:auto;
  display: none;
  text-align: center;
  margin-left: 500px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: auto;
  height: auto;
  position: absolute;
}
@media screen and (max-width: 600px) {
  .magic{
    width: 100%;
    margin-top: 0;
    margin-left: auto;
  }
}
.magic input[type="tel"]
{
  border:none;
  outline:none;
  border-bottom: 2px solid gray;
  border-color: rgb(55, 89, 153);
}
.magic select[type="droupdown"]
{
  width:170px;
  border:none;
  outline:none;
  border-bottom: 2px solid gray;
  border-color: rgb(55, 89, 153);
}
.magic select option{
  background-color:white;
  color:black;
  width:auto;
  height: auto;

}
.magic .paybtn {
  background-color: rgb(35, 201, 35);
    border: none;
    outline: none;
    resize: vertical;
    border-radius: 4px;
    cursor: pointer;
    color:white;
    width: 200px;
    height: 40px;
}
.magic .paybtn:hover {
  background-color: rgb(58, 99, 58);
   
}
.magic .bbtn{
  background-color: rgb(18, 66, 18);
  border: none;
  outline: none;
  resize: vertical;
  border-radius: 4px;
  cursor: pointer;
  color:white;
  width: 200px;
  height: 40px;
}
