
body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  padding: 20px;
}


.main{
  max-width: 100%;
  height: auto;
}
  .dec{
  margin-left: -20px;
  position: fixed;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  height: 50px;
  padding: 20px;
  }
  .dec h{
    color: white;
    font-size: 20px;
    font-family: bold;
  }
  .responsive {
    max-width: 100%;
    height: auto;
  }
 table{
   
    width:220px;
    height: 500px;
    text-align: center;
    margin-top: 90px;
    margin-left: -20px;
    font-size: 20px;
   
    color: black;
  }
  table tr th{
    border-bottom: 1px solid white;
  }
 table tr th a{
    text-decoration: none;
    height: 200px;
    padding: 5px;
    color: white;
    position: relative;
  }
  table tr th:hover{
    color: black;
    background-color: white;
  }
  table a:hover{
    color:black;
  }
  .drop{
    
    margin-left: -20px;
    margin-bottom:-5px;
    width:200px;
    height:715px;
    text-align: center;
    margin-left: -20px;
    background: rgba(0, 0, 0, 0.5);
  }
  @media screen and (max-width: 600px) {
    body{
      width: 100%;
      margin-top: 0;
      margin-left: auto;
    }
  }
  
